[Desktop Entry]
Type=Application
Name=Browser
NotShowIn=X-MeeGo;
X-MeeGo-Logical-Id=sailfish-browser-ap-name
X-MeeGo-Translation-Catalog=sailfish-browser
MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
X-Maemo-Service=org.sailfishos.browser.ui
X-Maemo-Object-Path=/ui
X-Maemo-Method=org.sailfishos.browser.ui.openUrl
