[D-BUS Service]
Name=org.sailfishos.browser
Exec=/usr/bin/invoker -s --type=generic /usr/bin/sailjail -p sailfish-browser.desktop /usr/bin/sailfish-browser -prestart
