[D-BUS Service]
Name=org.sailfishos.browser.ui
Exec=/usr/bin/invoker -s --type=browser --desktop-file=sailfish-browser.desktop -G /usr/bin/sailfish-browser -prestart
