[D-BUS Service]
Name=org.sailfishos.captiveportal
Exec=/usr/bin/sailjail -p sailfish-captiveportal.desktop /usr/bin/sailfish-captiveportal -prestart -captiveportal
