[D-BUS Service]
Name=org.sailfishos.browser.captiveportal
Exec=/usr/bin/invoker -s --type=browser -G /usr/bin/sailfish-browser-captiveportal -prestart -captiveportal
