[Desktop Entry]
Type=Application
Name=Web Browser
X-MeeGo-Logical-Id=sailfish-browser-ap-name
X-MeeGo-Translation-Catalog=sailfish-browser
Icon=icon-launcher-browser
Exec=invoker -s --type=browser -G /usr/bin/sailfish-browser %U
Comment=Sailfish UI application
