[Desktop Entry]
Type=Application
Name=Web Browser
Name[zh_CN]=浏览器
Icon=icon-launcher-browser
Exec=invoker --type=silica-qt5 -s /usr/bin/sailfish-browser %U
Comment=Sailfish UI application
MimeType=text/html;x-maemo-urischeme/http;x-maemo-urischeme/https;
X-Maemo-Service=org.sailfishos.browser
X-Maemo-Method=org.sailfishos.browser.openUrl
